.layout {
    width: 935px;
    margin: auto;
    font-family: Roboto;
    font-size: 12px;
    color: rgba(38, 38, 38, 1);
    height: 2100px;
    overflow: hidden;
}

/* Barra */
.barra {
    position: fixed;
    height: 54px;
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
}
.inicio {
    display: flex;
    align-items: center;
}
.barra2 {
    position: fixed;
    height: 54px;
    z-index: 1;
    display: none;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}
.inicio2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 15px 13px 15px;
}
.separadorVertical {
    width: 1px;
    height: 25px;
    background-color: rebeccapurple;
    margin-left: 10px   ;
    margin-right: 10px;
}
.separadorHorizontal {
    position: fixed;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: 54px;
    left: 0;
    right: 0;
}
.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 28px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;`
    background-color: rgba(250, 250, 250, 1);
    color: #e6e6e6;
    font-size: 12px;
}
.espaçamento ion-icon {
  margin-left: 10px;
  margin-right: 10px;
}
ion-icon {
    font-size: 22px;
}
.espaçamento ion-icon:last-child {
    margin-right: 0;
  }

/* Stories */
.caixa {
    width: 614px;
    height: 118px;
    margin-top: 88px;
    border: 1px solid #e6e6e6;
    display: flex;
    overflow: hidden;
}
.caixa ion-icon:last-child {
    font-size: 25px;;
    left: 5px;
    margin-bottom: 13px;
    box-shadow: 0 0 1em #e6e6e6;
    background-color: white;
}
.caixa img:nth-child(odd) {
    height: 66px;
}
.caixa img:nth-child(even) {
    height: 54px;
}
.absolute {
    position: absolute;
    border-radius: 100%;
}
.relative {
    position: relative;
    border-radius: 100%;
}
.centralizarTXT:first-child {
    margin-left: 13px;
}
.centralizarIMG {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 13px;
    margin-left: 13px;
    position: relative;
}
.centralizarTXT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 13px;
    position:relative;
}

/* Posts */
.post1 {
    width: 614px;
    margin-top: 24px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.post1_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    font-weight: bold;
}
.meowed {
    display: flex;
    align-items: center;
}
.meowed img {
    width: 32px;
    border-radius: 100%;
    margin-right: 15px;
}
.gato img {
    height: 614px;
    width: 614px;
}
video {
    height: 614px;
    width: 614px;
    object-fit: cover;
}
.opcoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.opcoes .ion-icon {
    margin-right: 10px;
}
.curtidas {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.curtidas img {
    width: 20px;
    border-radius: 100%;
    margin-right: 5px;
}
.separador {
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    margin-top: 10px;
}
.comentarios h2 {
    margin-left: 10px;
    margin-bottom: 10px;
}
.comentarios h7 {
    font-size: 9px;
    color: gray;
    margin-left: 10px;
}
.comentar {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.comentario {
    display: flex;
    align-items: center;
}
.comentario ion-icon {
    margin-right: 10px;
}
input {
    border: none;
}
button {
    color: #B2DFFC;
    background: white;
    border: none;
    margin-right: 10px ;
}
button:hover {
    transition-property: color;
    transition-duration: 300ms;
    color: #0095F6;
}


/* Sidebar */
.positionRelative {
    position: relative;
}
.positionAbsolute {
    position: absolute;
    right: 293px;
}
.sidebar {
    width: 293px;
    margin-top: 111px;
    position: fixed;
}
.catana {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.sidebar img {
    width: 32px;
    border-radius: 100%;
    margin-right: 11px;
}
.catana img {
    width: 56px;
    border-radius: 100%;
}
.sugestoes_pra_voce {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
}
h4 {
    font-size: 12px;
    color: rgba(142, 142, 142, 1);
}
h5 {
    font-size: 12px;
    color: blue;
}
h6 {
    font-size: 12px;
    color: black;
}
h7 {
    font-size: 11px;
    color: rgba(199, 199, 199, 1);
}
.sugestões {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.seguidores {
    display: flex;
}
.seguidores img {
    margin-right: 11px;
}
.infos {
    width: 290px;
}
.infos div:first-child {
    margin-bottom: 18px;
}
.principal {
    display: flex;
    justify-content: space-between;
}

/* barra inferior mobile */
.barra_fim_mobile {
    display: none;
    height: 54px;
    width: 100vw;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: white;
}
.barra_fim_mobile ion-icon {
    margin: 15px;
}

@media (max-width: 935px) {
    .sidebar {
        display: none;
    }
    .sidebar_na {
        margin: auto;
    }
    .layout {
        width: 100%;
    }
    .barra {
        margin-right: 18px;
        margin-left: 18px;
        width: 100%;
    }
    .espaçamento ion-icon:last-child {
        margin-right: 40px;
      }
}

@media (max-width: 614px) {
    .layout {
        width: 100%;
        height: 1800px;
        overflow: hidden;

    }
    .barra {
        display: none;
    }

    .inicio {
        display: none;
    }
    .barra2 {
        display: initial;
    }
    .caixa {
        margin-top: 54px;
        width: 100%;
        color: rgba(38, 38, 38, 1);
        border-left: none;
        border-right: none;
    }
    .post1 {
        width: auto;
        width: 100%;
        border: none;
        border-bottom: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
    }
    div .post1:first-child {
        margin-top: 0;
        border-top: none;
    }
    .post1 {
        margin-top: 60px;
        width: 100vw;
    }
    .gato img {
        height: 100vw;
        width: 100vw;
    }
    video {
        height: 100vw;
        width: 100vw;
    }
    .barra_fim_mobile {
        display: initial;
        display: flex;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #e6e6e6;
    }
    .caixa ion-icon:last-child {
        display: none;
    }

}